html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    }
    .title-bar {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: justify;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.title-bar h1 {
    margin: 0;
    flex: 1;
    text-align: left;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.title-link,
.logo-link {
    text-decoration: none; 
    color: inherit;        
}

.title-link h1 {
    color: white; 
    outline: none; 
}

.title-link h1:focus {
    outline: none; 
}

.title-link h1:hover {
    background-color: #333;
}

.title-link h1:active {
    transform: translateY(-10px); 
    background-color: #4a4aca;    /* Change background color on click */
}

.title-link h1:focus {
    outline: none; 
}
    
  
.title-bar .logo {
    margin-left: auto;
    height: 60px; 
    width: 100px; 
}

.title-bar .logo img {
    height: 100%; 
    width: auto;  
}

.navbar {
    background-color: #d3d8dd;
    margin-top: 70px;
    padding: 10px;
}

.navbar-nav .nav-link {
    color: #343a40 !important;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #007bff !important;
}

.dropdown-menu {
    background-color: #ffffff;
}

.dropdown-item:hover {
    background-color: #007bff;
    color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .title-bar h1 {
        font-size: 20px;
    }

    .navbar {
        padding: 5px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
    }
}

.carousel-container {
    max-width: 950px; /* Ancho máximo del carrusel */
    margin: 0 auto; /* Centrar el carrusel horizontalmente */
    position: relative;
}

/* Ajuste del tamaño de las imágenes del carrusel */
.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 500px; /* Altura máxima del carrusel */
    object-fit: cover;
}

/* Asegurar transiciones suaves */
.carousel-item {
    transition: transform 0.6s ease-in-out;
    backface-visibility: hidden; /* Asegura que las imágenes no muestren líneas durante la transición */
    perspective: 1000px; /* Agrega una perspectiva para mejorar la transición */
}
/* Desactiva temporalmente el anti-aliasing durante la transición */
@keyframes disable-antialiasing {
    from {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    to {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

.carousel-item {
    animation: disable-antialiasing 0.6s;
}

/* Optional: Ensure smooth transitions */
.carousel-inner {
    display: flex;
    align-items: center;
}

.carousel-inner img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}


.progress-bar-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Altura de la barra de progreso */
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo de la barra de progreso */
}

.progress-bar-fill {
    width: 0;
    height: 100%;
    background-color: white; /* Color de llenado de la barra de progreso */
    transition: width 5s linear; /* Animación suave por 5 segundos */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
    font-size: 30px;
    color: white; /* Color de la flecha */
    content: '';
    display: inline-block;
}

.carousel-control-prev-icon:after {
    content: '<';
}

.carousel-control-next-icon:after {
    content: '>';
}



        

        .history-section {
            background-color: #f8f9fa; /* Soft background color */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, background-color 0.3s;
            position: relative;
            margin-top: 20px;
        }
        
        .history-section h2 {
            color: #333; /* Title color */
            margin-bottom: 15px;
        }
        
        .history-section p {
            color: #666; /* Paragraph color */
            line-height: 2.6;
        }
        
        .history-image img {
            max-width: 60%; 
            height: auto;
            border-radius: 15px;
            margin-top: 25px;
            transition: transform 0.3s;
        }
        
        
        .history-section:hover {
            transform: translateY(-5px);
        }
        
        .history-section:active {
            background-color: #ececec;
        }

        .locate-us {
            margin-top: 30px;
        }
        
        .location-link {
            font-size: 20px; /* Increased font size */
            color: #4285F4; /* Google Maps blue */
            text-decoration: none;
            transition: color 0.3s ease, transform 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .location-link i {
            margin-right: 15px;
            font-size: 50px; /* Increased icon size */
            color: #34A853; /* Google Maps green */
            transition: transform 0.3s ease, color 0.3s ease;
        }
        
        .location-link:hover {
            color: #0F9D58; /* Darker green on hover */
        }
        
        .location-link:active {
            transform: scale(1.1); /* Slightly larger on click */
            color: #EA4335; /* Google Maps red */
        }
        
        .location-link:active i {
            color: #EA4335; /* Google Maps red for icon */
        }
        
        .product-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            text-align: center;
        }
        .product-card img {
            width: 100%;
            height: auto;
        }
        .social-links a {
            margin: 0 30px;
            color: #333;
            font-size: 2.5em;
        }
        .footer {
            background-color: #000;
            color: #fff;
            padding: 20px 0;
        }
        .footer .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        
        .footer .column {
            flex: 1;
            padding: 0 10px;
            min-width: 200px;
            margin-bottom: 20px;
        }
        .footer .column h4 {
            margin-bottom: 15px;
            font-size: 16px;
        }
        .footer .column ul {
            list-style-type: none;
            padding: 0;
        }
        .footer .column ul li {
            margin-bottom: 10px;
        }
        .footer .column ul li a {
            color: #fff;
            text-decoration: none;
        }
        .footer .column ul li a:hover {
            text-decoration: underline;
        }
        
        .footer .payment-methods {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }
        .footer .payment-methods img {
            margin: 0 30px;
            height: 30px; /* Tamaño reducido de las imágenes */
        }
        .footer .contact-info {
            text-align: center;
            margin-bottom: 20px;
        }
        .footer .contact-info div {
            margin-bottom: 10px;
        }
        .footer .separator {
            border-bottom: 1px solid #fff;
            margin: 20px 0;
        }
        #backToTopBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 10px;
        }
        
        #backToTopBtn:hover {
            background-color: #555;
        }
        
        #backToTopBtn i {
            font-size: 18px;
        }

        .container {
        margin-top: 50px;
       }

.resource-card {
    background-image: url('/assets/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(24, 23, 23);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
    transition: transform 0.3s, background-color 0.3s;
    position: relative;
    overflow: hidden;
}

.resource-card:hover {
    transform: translateY(-10px);
}

.resource-card:active {
    background-color: rgb(74, 74, 202);
}

.resource-card .icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    transition: filter 0.3s;
}

.resource-card:active .icon img {
    filter: hue-rotate(180deg);
}

.resource-card h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.resource-card p {
    font-size: 14px;
}



        
    